@import "~bootstrap/scss/bootstrap";
@import "./socialmediabuttons.scss";
@import "./videoheader.scss";

body {
  background-color: #111111;
}

.section {
  padding: 12rem 0 10rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}
/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
}
@media (mind-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}
.introduction {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  text-shadow: 2px 2px #000000;
  color: aliceblue;
  min-height: 100vh;
  font-size: 1.7em;
  padding: 0;
}

.trailer {
  background-image: url(/images/galaxy_rainbow.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  color: aliceblue;
  font-size: 1.5em;
  text-shadow: 2px 2px #000000;
  min-height: 100vh;
  padding: 0px;
}
.nicerow div {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.embed-container {
  width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  min-width: 100%;
  min-height: 80vh;
  width: 100%;
  height: 100%;
}
.minigames {
  color: #ffffff;
}
.branding {
  background-color: #ffffff;
}
.branding a {
  color: #000000;
  text-decoration: none;
}
.branding a:hover {
  color: #111111;
}
.footer {
  background-color: #0b0a0d;
  color: #888888;
}
.imgCenter {
  display: block;
  margin: 10px auto;
}
.socialMedia {
  color: #ffffff;
}

.features {
  color: #ffffff;
  background-color: #000000;
}